@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font: 'Roboto', sans-serif;
$default-color: rgba(19, 19, 19, 0.911); 

$main-bg: rgba(25, 27, 37, 0.938);

$icon-size-PC: 32px;
$icon-size-phone: 22px;
$icon-padding: 4px;

$paddingLR: .5rem;

$header-width: 400px;
$header-bg: white;
$header-checkbox-btn-width: 50px; 

$breakpoint_small_device: 360px;
$breakpoint_phone: 600px;
$breakpoint_tablet: 768px;
$breakpoint_PC: 992px;

$th-main-bg: #18cabb;
$th-main-font: darken(white, 5%);
$th-MUI-border-color: rgba(0, 0, 0, 0.23);
$th-MUI-border-radius: 4px;








